body {
  display: flex;
  justify-content: center;
}

.header .search {
  position: relative;
  background-image: url('img/Background.png');
  background-size: cover;
  background-position: center;
  height: 667px;
  width: 1440px;
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  position: absolute;
  width: 200px;
  left: 300px;
  top: 50px;
  z-index: 1;
  height: 30px;
}

.header h2 {
  color: #ffc107;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 20px 0;
  width: 55%;
}

.container {
  background-color: rgb(212, 209, 209);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-bottom: 45px;
}

.recipes-liste {
  background-color: rgb(212, 209, 209);
  padding-top: 40px;
}

.recipe-card {
  width: 380px;
  height: 731px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 10px 0 5px 0;
  position: relative;
}

.recipe-card img {
  width: 100%;
  height: 253px;
  object-fit: cover;
}

.recipe-card .time-label {
  background-color: #ffc107;
  border-radius: 15px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.recipe-card .card-body {
  padding: 15px;
}

.recipe-card .card-title {
  font-size: 24px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0 15px;
}

.recipe-card .section-title-recette {
  margin: 10px 0;
  height: 140px;
  overflow: hidden;
  width: 96%;
}

.recipe-card .section-title-recette h4 {
  font-size: 14px;
  font-weight: bold;
  color: #7A7A7A;
  margin: 20px 0 0 15px;
}

.recipe-card .section-title-recette p {
  font-size: 14px;
  font-weight: bold;
  color: #1B1B1B;
  margin: 15px 0 0 15px;
}

.recipe-card .section-title-ingredients h4 {
  font-size: 14px;
  font-weight: bold;
  color: #7A7A7A;
  margin: 20px 0 10px 10px;
}

.recipe-card .ingredients {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 10px 0;
}

.recipe-card .ingredients .ingredient-item {
  width: 50%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column; /* Ajouter cette ligne pour placer la quantité en dessous */
}

.recipe-card .ingredient-item {
  display: flex;
  flex-direction: column; /* Ajouter cette ligne pour placer la quantité en dessous */
  justify-content: space-between;
}

.recipe-card .ingredient-name {
  font-weight: bold;
}

.recipe-card .ingredient-quantity {
  color: grey;
}
