body {
  display: flex;
  justify-content: center;
}

.header .search {
  background-image: url('./img/Background.png');
  background-size: cover;
  background-position: center;
  height: 667px;
  width: 100%;
  max-width: 1440px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  position: relative;
}

.header-logo {
  position: absolute;
  width: 200px;
  left: 60px;
  top: 35px;
  z-index: 1;
  height: 30px;
}

.header h2 {
  color: #ffc107;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 20px 0;
  width: 90%;
  max-width: 55%;
}

.container {
  background-color: rgb(212, 209, 209);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 45px;
  overflow: hidden;
}

.recipes-liste {
  background-color: rgb(212, 209, 209);
  padding-top: 40px;
}

.recipe-card {
  width: 100%;
  max-width: 380px;
  height: auto; 
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 10px auto; 
  position: relative;
  transition: height 0.3s ease; 
}

.recipe-card img {
  width: 100%;
  height: 253px;
  object-fit: cover;
}

.recipe-card .time-label {
  background-color: #ffc107;
  border-radius: 15px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.recipe-card .card-body {
  padding: 15px;
}

.recipe-card .card-title {
  font-size: 18px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0 15px;
}

.recipe-card .section-title-recette {
  margin: 10px 0;
  height: auto;
  max-height: 135px;
  overflow: hidden;
  width: 96%;
}

.recipe-card .section-title-recette h4, p, span {
  font-family: "Manrope", sans-serif;
}

.recipe-card .section-title-recette h4 {
  font-size: 12px;
  font-weight: bold;
  color: #7A7A7A;
  margin: 20px 0 0 15px;
}

.recipe-card .section-title-recette p {
  font-size: 14px;
  font-weight: bold;
  color: #1B1B1B;
  margin: 15px 0 0 15px;
}

.recipe-card .section-title-recette:hover {
  margin-top: 30px;
  max-height: max-content;
  overflow: visible;
  cursor: pointer;
  justify-content: auto;
}

.recipe-card .section-title-ingredients h4 {
  font-size: 12px;
  font-weight: bold;
  color: #7A7A7A;
  margin: 20px 0 10px 10px;
}

.recipe-card .ingredients {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 10px 0;
}

.recipe-card .ingredients .ingredient-item {
  width: 50%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column; 
}

.recipe-card .ingredient-item {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.recipe-card .ingredient-name {
  font-weight: bold;
}

.recipe-card .ingredient-quantity {
  color: grey;
}

@media (max-width: 767.98px) {
  .header .search {
    height: 25rem;
  }
  .header h2 {
    font-size: 1.5rem;
    max-width: 80%;
  }
  .header-logo {
    left: 20px;
    top: 20px;
  }
  .recipe-card .card-title {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
