.container {
  background-color: rgb(212, 209, 209);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 45px 45px;
  overflow: hidden;
}

.recipes-liste {
  background-color: rgb(212, 209, 209);
}

.recipe-card-container {
  position: relative; /* Ajouté pour que les cartes enfants puissent être positionnées absolument */
}

.recipe-card {
  width: 100%;
  max-width: 380px;
  min-height: 810px;
  height: auto; 
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 10px auto; 
  position: relative;
  transition: transform 0.3s ease, height 0.3s ease; 
}

.recipe-card:hover {
  transform: scale(1.05); 
  z-index: 10; 
  position: absolute;
}

.recipe-card img {
  width: 100%;
  height: 253px;
  object-fit: cover;
}

.recipe-card .time-label {
  background-color: #ffc107;
  border-radius: 15px;
  padding: 5px 10px;
  top: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.recipe-card .card-body {
  padding: 15px;
}

.recipe-card .card-title {
  font-size: 18px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0 15px;
}

.recipe-card .section-title-recette {
  margin: 15px 0 25px 0;
  width: 96%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease, -webkit-line-clamp 0.3s ease; /* Ajout des transitions */
}

.recipe-card .section-title-recette h4, p, span {
  font-family: "Manrope", sans-serif;
}

.recipe-card .section-title-recette h4 {
  font-size: 12px;
  font-weight: bold;
  color: #7A7A7A;
  margin: 20px 0 0 15px;
}

.section-title-ingredients h4 span{
  font-size: 10px ;
}

.recipe-card .section-title-recette p {
  font-size: 14px;
  font-weight: bold;
  color: #1B1B1B;
  margin: 15px 0 0 15px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: -webkit-line-clamp 0.3s ease; 
}

.recipe-card .section-title-recette {
  max-height: max-content; 
  overflow: visible;
  cursor: pointer;
  justify-content: auto;
}

.recipe-card .section-title-recette:hover p {
  -webkit-line-clamp: unset; 
  display: block; 
  transition: -webkit-line-clamp 0.3s ease; 
}


.section-appliance-ustensils{
 display: flex;
}

.section-title-appliance,
.section-title-ustensils{
 width: 50%;
 margin-top: -15px;
}


.appliance-name-card,
.ustensile-name-card{
  padding-left: 10px;
  font-weight:bold;
  font-size: 14px;
}


.recipe-card .section-title-ingredients h4,
.section-title-appliance h4,
.section-title-ustensils h4 {
  font-size: 12px;
  font-weight: bold;
  color: #7A7A7A;
  margin: 20px 0 10px 10px;
}

.recipe-card .ingredients {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 10px 0;
}

.recipe-card .ingredients .ingredient-item-card {
  width: 50%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column; 
}

.recipe-card .ingredient-item-card {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.recipe-card .ingredient-name-card {
  font-weight: bold;
}

.recipe-card .ingredient-quantity {
  color: grey;
}

.zero-recipes-title{
  display: none;
}

.tags-container-title{
  display: none;
}

.recipes-liste-title{
  display: none;
}

@media (max-width: 767.98px) {
  .recipe-card {
    min-height: 751px;
    height: auto; 
  }
  .header .search {
    height: 25rem;
  }
  .header h2 {
    font-size: 1.5rem;
    max-width: 60%;
  }
  .header-logo {
    left: 20px;
    top: 20px;
  }
  .recipe-card .card-title {
    font-size: 16px;
  }
  .container {
    grid-template-columns: repeat(1,1fr);
  }
}

@media (min-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}