
.dropdowns{
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 209, 209);
}

.dropdown .btn {
  position: relative;
  width: 194px;
  height: 56px;
  background-color: #fff; 
  outline: none;
  border: 1px solid #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1B1B1B;
  padding: 13px 70px 0 0;
}


.rotate::after {
  transform: rotate(180deg);
}

.dropdowns-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  max-height: 315px;
  outline: none;
}

.dropdown-menu{
position: absolute;
margin-top: -8px !important;
border: 1px solid white;
border-radius: 0 0 5px 5px;
}

.search-container{
  margin-top: -10px;
  height: 50px;
}

.search-container .glass-icon{
 position: absolute;
 top: 22px;
 right: 20px;
}

.form-control[type="search"]::-webkit-search-cancel-button {
  height: 2px;
  width: 2px;
  margin-right: 20px;
  cursor: pointer;
  color: grey;
}

.search-container .form-control{
  margin: 20px auto;
 width: 90%;
 border-radius: 0;
}

.rotate180 {
  transform: rotate(180deg);
}

#recipeCount{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 40px 60px 40px 20px;
    color: #1B1B1B;
    font-size: 21px;
    background-color: rgb(212, 209, 209);
  }

  .dropdownArrow{
    margin:-26px 0px 22px 155px;
  }

  .liste{
    height: 210px;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
  }

  .appliance-item-dropdown,
  .ingredient-item-dropdown,
  .ustensile-item-dropdown{
    width: 100%;
    padding: 7px 0px 7px 20px ;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  .appliance-item-dropdown .appliance-name-dropdown,
  .ingredient-item-dropdown .ingredient-name-dropdown,
  .ustensile-item-dropdown .ustensile-name-dropdown{
  font-weight: 400;
  font-size: 14px;
  color: #1B1B1B;
  }

  .appliance-item-dropdown:hover,
  .ingredient-item-dropdown:hover,
  .ustensile-item-dropdown:hover{
  cursor: pointer;
  background-color:#FFD15B;
  border: 1px solid black;
  }

.dropdown-option {
  position: relative;
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.selected {
  background-color: #FFD15B;
}

.selected .close-icon {
  display: block;
}

.tags-container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(212, 209, 209);
  max-width: 1440px;
  padding-left: 40px;
}

.custom-tag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 181px;
  height: 51px;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #FFD15B;
  margin: 4px;
  box-sizing: border-box;
}

.custom-tag .ustensile-name-dropdown,
.custom-tag .ingredient-name-dropdown,
.custom-tag .appliance-name-dropdown{
  padding: 30px 10px;
}

.custom-tag .dropdown-option:hover{
  border: #FFD15B;
 }
 
 .custom-tag .dropdown-option{
  margin-left: -10px;
  }



  @media (max-width: 970px) {
    .dropdowns{
      flex-direction: column;
    }

    #recipeCount{
      margin: 50px auto;
      font-size: 33px;
    }
  }

  @media (max-width: 750px) {
    .dropdown .btn {
      position: relative;
      width: 70%;
      padding: 13px 160px 0 0;
    }

    .dropdowns-container {
      flex-direction: column;
      align-items: center;
      padding-left: 170px;
    }


    .dropdownArrow{
      margin:-26px 0px 22px 300px;
    }

    .dropdown-menu{
      width: 70%;
    }

    .search-container .glass-icon{
      top: 22px;
      right: 70px;
     }
     
     .search-container{
     width: 90%;
     }
  }