
.search-bar {
  position: relative;
  width: 90%;
  max-width: 954px;
  height: 72px;
  border-radius: 11px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  padding-left: 30px;
  outline: none;
  margin: 0 auto; 
}

.search-bar input {
  flex-grow: 1;
  height: 100%;
  border: none;
  border-radius: 11px 0 0 11px;
  padding: 0 10px; 
  font-size: 16px;
  outline: none;
  width: 100%;
  padding-right: 30px;
}

.search-bar input:focus {
  outline: none;
  box-shadow: none;
}

.search-bar input::placeholder {
  color: #7A7A7A;
  font-family: "Manrope", sans-serif;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar button {
  width: 52px;
  height: 52px;
  background-color: #1B1B1B;
  border: none;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.search-bar button:hover {
  background-color: #ffc107;
}

.search-bar button svg {
  width: 25px;
  height: 30px;
  stroke: white;
  transition: stroke 0.3s;
}

.search-bar button:hover svg {
  stroke: #1B1B1B;
}

.search-bar svg#search-close {
  position: absolute;
  right: 10px;
  height: 15px;
  top: 50%;
  margin-right: 75px;
  transform: translateY(-50%);
  cursor: pointer;
  display: none; /* Masquer par défaut */
}

@media (max-width: 768px) {
  .search-bar {
    max-width: 50%;
    height: 60px;
    padding-left: 20px;
  }

  .search-bar input {
    font-size: 14px;
  }

  .search-bar button {
    width: 45px;
    height: 45px;
  }

  .search-bar button svg {
    width: 20px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .search-bar {
    height: 50px;
    padding-left: 15px;
  }

  .search-bar input {
    font-size: 12px;
  }

  .search-bar button {
    width: 40px;
    height: 40px;
  }

  .search-bar button svg {
    width: 18px;
    height: 22px;
  }
}