.message-zero-recipes{
  padding: 10px 10px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  background-color: rgb(212, 209, 209);
  font-weight: 400;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}
.random-message{
  font-size: 25px;
  color: black;
  font-family: "Manrope", sans-serif;
  font: 800;
  border-radius: 15px;
  padding: 0px 10px;
  line-height: 60px;
}

.random-message-search-value{
  border-radius: 10px;
  padding: 5px;
}


.random-message-title{
  max-width: 1390px;
}


@media (max-width: 400px) {
  .message-zero-recipes {
    font-size: 20px;
    padding-left: 20px;
  }

  .random-message {
    font-size: 18px;
    line-height: 30px;
  }

  .custom-tag {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    margin: 2px auto;
  }
}
